body
{
  font-family: Arial, sans-serif;
  background-color: lightcyan;
}

#registrationBox
{
  width: 320px;
  margin: 50px auto;
  padding: 20px;
  background-color: lightyellow;
  border: 2px solid darkgreen;
  border-radius: 10px;
}
